{% extends 'layout.html.twig' %} 

{% block title %}Adresse{% endblock %}

{% block titlepage %}Nos Coordonnées <br><br>{% endblock %}

{% block content %}

         <div class="container">

              <div class="row justify-content-between">

                  <div class="col-12 col-md-8" >
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2828.982394865661!2d-0.5850298842313523!3d44.84229188274434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5527e77936472d%3A0x2854ac5dbdd54926!2sSoci%C3%A9t%C3%A9+Philomathique+de+Bordeaux!5e0!3m2!1sfr!2sfr!4v1532937879086"
                            width="100%" height="100%" frameborder="0" style="border: 1px solid black; box-shadow:0px 0px 5px 3px #605a5a ;"></iframe>
                  </div>

                  <div class="col-12 col-md-4 py-4" style="border: solid black 1px; box-shadow:0px 0px 5px 3px #605a5a; background-color: darkgrey;">
                      <ul>
                          <li><h3>Octocote </h3></li>
                          <li><h3>66 rue Abbée de l'épée</h3></li>
                          <li><h3>Bordeaux (33000)</h3> <br></li>
                          <li><a href="{{ path('contact') }}"><h3>Nous contacter</h3></a></li>
                      </ul>
                  </div>
              </div>

         </div>

{% endblock %}

