{% extends 'layout.html.twig' %} 

{% block title %}Contact{% endblock %}

    {% block css %}
         <!-- Boostrap.css -->
         <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
         <!-- FontAwesome v5.x -->
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block titlepage %}<h1 style="text-align: center; margin-top: 50px;">Conditions Générale de Vente</h1>{% endblock %}    
           
        {% block content %}



        {% endblock %}
        {% block javascripts %}{% endblock %}