<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<h1><u>Nom : </u></h1>
		<p>{{ nom }}</p>	
		<h1><u>Sujet : </u></h1>
		<p>{{ sujet }}</p>
		<h1><u>Email de l'utilisateur : </u></h1>
		<p>{{ email }}</p>
		<h1><u>Message : </u></h1>
		<p>{{ message }}</p>

	</div>

</body>
</html>