
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a  class="btn btn-dark text-warning mt-4 ml-2 log-btn navbarColor01" href="{{ path('logout') }}">Déconnexion</a>
    <a class="btn btn-dark text-warning mt-4 mr-3 log-btn navbarColor01" href="{{ path('userProfil') }}">Profil</a>

{% else %}
    <div id="result" class="">
        <a id="register" class="btn btn-dark text-warning mt-4 log-btn mr-5 navbarColor01" href="{{ path('register') }}">Inscription</a>
        <a id="login" class="btn btn-dark text-warning mt-4 log-btn mr-3 navbarColor01" href="">Connexion</a>
    </div>
{% endif %}