

    <strong>Bonjour, </strong><a href="http:/localhost:8000{{ path('newmdp') }}?token={{ token }}&idUser={{ idUser }}">cliquez ici pour réinitialiser votre mot de passe</a>
    <br>

    <p><h3>Rappel de votre pseudo: </h3><strong>{{ user.username }}</strong></p>


    <p><strong>Merci, l'équipe d'Octocote.</strong></p>


