{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block titlepage %}<h1 class="register">S'enregistrer</h1>{% endblock %}

{% block content %}
	<div class="container">
		<div class="col-md-6 offset-2 bg-secondary text-warning p-3">
            {{ form_start(form) }}
			<div class="row">


                {{ form_widget(form.) }}
			</div>
            {{ form_end(form) }}
		</div>
	</div>
{% endblock %}
