{% extends 'layout.html.twig' %}

{% block title %}Saisis du nouveau mot de passe{% endblock %}

{% block titlepage %}Veuillez saisir votre nouveau mot de passe. <br><br>{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 py-4">

                {{ form_start(form) }}

                {{ form_end(form) }}


                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} mt-4">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}