{% extends 'layout.html.twig' %}

{% block title %}Retroc{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      {% for product in products %}
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src=" {{asset('uploads/images/' ~ product.image)}} " alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text"> {{product.price}} €</p>
            <a href=" {{path('product', {id: product.id})}} " class="btn btn-primary">Détails</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>


{% endblock %}
