{% extends 'layout.html.twig' %}

{% block title %}Retroc{% endblock %}

{% block content %}

    <div class="alert alert-success" role="alert">
      BoobsTraped opérationnel
    </div>

{% endblock %}
