{{ form_start(form, {'attr' : {'action': path('recherche-titre-home')}}) }}

<div class="row">
    <span class="col-md-6">
{{ form_widget(form.Recherche) }}
    </span>
    <span class="col-md-6">
{{ form_widget(form.Rechercher) }}
    </span>
</div>

{{ form_end(form) }}