{% for message in messages %}

  <div class="messageUser" style="border:3px double #1A3E58; padding:3px; -moz-border-radius:10px 0;-webkit-border-radius:10px 0;border-radius:10px 0;">
    <h4 style="margin-left: 10px; color: #1A3E58"><u>Titre : </u></h4>
    <p style="margin-left: 10px; color: #1A3E58"> {{message.title}} </p>
    <h4 style="margin-left: 10px; color: #1A3E58"><u>Contenu du message : </u></h4>
    <p style="margin-left: 10px; color: #1A3E58"> {{message.content}} </p>
    
    <a href="{{ path('message-delete', {id:message.id}) }}">

        <button class="btn btn-dark" style="margin-left: 10px;">Supprimer</button></a>  
    
    </div><br><br>

{% endfor %}