.search img{
    border-radius: 15px;
}

.search .cote-res{
    border: 2px solid #375a7f;
    background: #1A3E58;
    padding: 2px;
    width: 400px;
    color: #fff;
}

.search p{
    padding-left: 5px;
    padding-top: 10px;
}

.search .cote-res:hover {
    color: #fec007;
    cursor: pointer;
    background: rgba(26, 62, 88, 0.7);
}

.tutorial {
    border: 3px dotted #CD950B;
    border-radius: 25% 10%;
    background: rgba(25, 62, 88, 0.8);
}

.tutorial p{
    font-size: 1rem !important;
    color: white;
}

.search .col-5 {
    flex: none !important;
}