body .modal-dialog {
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}

.modal{
    text-align: center;
}

.card-header{
    font-size: 25px;
}
.card-header h3:last-of-type{
    color: white;
}

.card-body b{
    font-size: 20px;
}

.card-body p {
    color: white;
    font-size: 15px;
}

.bot-border{
    border-bottom: 1px dashed #ffc107!important;
}

.bot-border p i:hover {
    cursor: pointer;
}





.zoomin:hover{
    cursor: pointer;
}
