
/**************************HEADER*****************************************************/
.head {

    background-image: url("../images/headerX.svg");
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */

}

header{

    background-color:#193e57;
}

.navbar-default .navbar-toggle {
    border-color: #f6ff00;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #f6ff00;
}

.navbarColor01{
    color: #ffffff;
    background-color: #112735;
    border-color: #375a7f;
}

body{
    background: lightgrey;
    font-family: 'Rajdhani', sans-serif;
    font-size: 120%;
    width: 100%;
    margin: 0 auto;

}
.bodyback{
background-image: url("../images/fondsite.svg");
background-repeat: no-repeat;
background-size: cover;

}

.log-btn{
    float: right;
}

#navtx{

    color: #ced9e5;
}

a.hover-color:hover{
    color: #112735!important;
}

header .dropdown-item:focus, .dropdown-item:hover{
    background-color: #ffde11 !important;
}

.compteur{
    background: url('../images/fondcompteurX.svg');
    background-size: cover; /* version standardisée */
    box-shadow: 0px 5px 5px black;
}


/**************************Content******************************************************/

.infos{
    text-align: center; 
    border:2px solid #999999; 
    border-style: inset;
    box-sizing: border-box;
    width: 600px;
}

.links ul {
    list-style-type: none;
    padding-left: 0;
}

.networks a {
    margin-right: 15px;
    text-decoration: none;
}

.networks i {
    color: grey;
}

.networks .fa-facebook:hover {
    color: #3B5998;
}

.networks .fa-google-plus-square:hover {
    color: #D6492E;
}

.networks .fa-youtube:hover {
    color: #FF0000;
}
p{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: small;
}
.register{
    text-align: center;
}
.addproduct{
    text-align: center;

}



/**************************footer******************************************************/


#footer{
    background-image: url("../images/footerX.svg");
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */



}
/**************************Formulaire******************************************************/


p{
    font-family: 'Space Mono', monospace;

}

.formStyle{
    background-color:#1a3e58;
    border-radius: 10px;
    box-shadow: 5px 6px #0a1b26;
}

.FormBouton{
    color: #ffffff;
    background-color: #112735;
    border-color: #375a7f;
}
.profilForm{
    opacity: 1;
}


.formStyle h1{
    text-align: center;
}

.cgv{
     text-align: center;    
     color: #AC964A;
     margin-bottom: 100px;
}
.cgvContent{
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 70px;
    background-color: #1A3E58;
    
}

.cgvContent h3{
    color: #AC964A;
}

.cgvContent p{
    color: white;
}

.text-justify{
    color: #AC964A;
}

.adress{
    border: solid black 1px;
    background-color: #1A3E58;
}

.adress h3{
    color: #AC964A;
}

.adress a h3:hover{
    color: white;
}

.listStyle{
    width: 18rem;  
    border: 1px solid lightgray;
    background-color: #1a3e58;
}
 
h1{
    font-weight: bold;
}

.antipadding{
    padding: 0 !important;
}









