#head{

    background-image: url("../images/fondheader.jpg") ;
    background-repeat: no-repeat;
    background-position: center;

}

#navbarColor01{

    color: #ffffff;
    background-color: #112735;
    border-color: #375a7f;
}
#navtx{

    color: #ced9e5;
}


