
/**************************HEADER*****************************************************/
header{

    background-color:#193e57;
}

body{

    font-family: 'Rajdhani', sans-serif;
    font-size: 120%;
    width: 100%;
    margin: 0 auto;

}

#head{

    background-image: url("../images/fondheader.jpg") ;
    background-repeat: no-repeat;
    background-position: center;

}
#navbarColor01{
    color: #ffffff;
    background-color: #112735;
    border-color: #375a7f;
}

.log-btn{
    float: right;
}

#navtx{

    color: #ced9e5;
}



.infos{
    text-align: center; 
    border:2px solid #999999; 
    border-style: inset;
    box-sizing: border-box;
    width: 600px;
}

.links ul {
    list-style-type: none;
    padding-left: 0;
}

.networks a {
    margin-right: 15px;
    text-decoration: none;
}

.networks i {
    color: grey;
}

.networks .fa-facebook:hover {
    color: #3B5998;
}

.networks .fa-google-plus-square:hover {
    color: #D6492E;
}

.networks .fa-youtube:hover {
    color: #FF0000;
}
p{
    font-family: Rasa !important;
}




/**************************footer******************************************************/
#head {

    background-image: url("../images/fondheader.jpg");
    background-repeat: no-repeat;
    background-position: center;
}


/**************************Formulaire******************************************************/


p{
    font-family: 'Space Mono', monospace;

}

 


 
.addproduct{
    text-align: center;
    text-decoration: underline;
}




