{% extends 'layout.html.twig' %}

{% block title %}Ajout article blog{% endblock %}

{% block titlepage %}Ajouter un article au blog{% endblock %}

{% block content %}
    <div class="container">
        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
