{% extends 'layout.html.twig' %}
{% block title %} Liste Des articles {% endblock%}
{% block titlepage %} Liste Des articles {% endblock%}

{% block content %}

    <div class="container-fluid">
        <div class="row">

            {% for blog in blogs %}

                <div class="card col-4" style="width: 18rem;">
                    <div class="card-body">
                        {#{% if blog.image%}#}
                            {#<img class="card-img-top" src="{{ asset('uploads/images/' ~ product.image) }}" alt="Card image cap">#}
                        {#{% endif %}#}
                        <h5 class="card-title">{{ blog.title }}</h5><hr>
                        <p class="card-text" style="overflow:auto;">{{ blog.content  | striptags | slice(0, 150) }} </p>


                        <a href="{{ path('blog', {id: blog.id })}}">Voir</a>
                    </div>
                </div>


            {% endfor %}
        </div>
    </div>





{% endblock %}