{% extends 'layout.html.twig' %}
{% block title %}Articles du blog{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">



            <div class="card col-10" style="width: 18rem;">
                <div class="card-body">
                    {#{% if user.profilepicture%}#}
                        {#<img class="card-img-top" src="{{ asset('uploads/images/' ~  user.profilepicture) }}" alt="Card image cap">#}
                    {#{% endif %}#}
                    <h5 class="card-title">{{ blogs.title }}</h5><hr>
                    <p class="card-text">{{ blogs.content }}</p>


                </div>
            </div>
    </div>
</div>

{% endblock %}