{% extends 'layout.html.twig' %}

{% block title %}Ajout produit{% endblock%}

{% block titlepage %}<h1 class="addproduct">Ajouter une annonce</h1>{% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            {{ form_start(form) }}

            {{ form_end(form) }}
        </div>
        <div class="col-4 search"></div>

    </div>
</div>
{%  endblock %}

{% block js %}
    <script>
        $(function(){

            $('body').on('keyup', 'input#product_name', function(e){
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: " {{ path('ajax-search-by-title') }} ",
                    timeout: 3000,
                    data: "title=" + $(this).val(),
                    dataType: 'json',
                    success: function(data){
                        console.log(data);
                        $('.search').empty();
                        if(data.status === "ok"){
                            $.each(data.products, function(i, product){
                                $('.search').append('<p>' + product.name  + '</p>')
                            })
                        } else {
                            $('.search').append(data.erreur)
                        }

                    },
                    error: function(error){
                        console.log(error.responseText);
                    }
                })
            })

        })
    </script>
{% endblock %}