{% extends 'layout.html.twig' %}

{% block title %}Ajout produit{% endblock%}

{% block titlepage %}<h1 class="addproduct">Ajouter une annonce</h1>{% endblock%}

{% block content %}
    {{ form_start(form) }}

    {{ form_end(form) }}

{%  endblock %}

{% block javascript %}{% endblock %}