{% extends 'layout.html.twig' %}

{% block title %}Modifier-annonce{% endblock %}

{% block titlepage %}<h1 class="col-md-4 offset-4 mb-5">Modifier son annonce</h1>{% endblock %}

{% block content %}
<div class="container">
    <div class="col-6 offset-2 text-warning formStyle p-4" >

    {{ form_start(form) }}

    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
