{% extends 'layout.html.twig' %}

{% block title %}Modifier-annonce{% endblock %}

{% block titlepage %}Modifier son annonce{% endblock %}

{% block content %}
<div class="container">
    {{ form_start(form) }}

    {{ form_end(form) }}
</div>
{% endblock %}
