{% extends 'layout.html.twig' %}

{% block title %}Modifier-annonce{% endblock %}

{% block titlepage %}Modifier son annonce{% endblock %}

{% block content %}
<div class="container">
    <div class="col-4 text-warning p-3" style="background: #6c757d">

    {{ form_start(form) }}

    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
