{% extends 'layout.html.twig' %}
{% block title %}Articles du blog{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="card col-10" style="width: 18rem;">
                <div class="card-body">
                    {% if blogs.image%}
                        <img class="card-img-top" src="{{ asset('uploads/images/' ~  blogs.image) }}" alt="Card image cap">
                    {% endif %}
                    <h3 class="card-title mt-3">{{ blogs.title }}</h3><hr>
                    <p class="card-text" style="text-align: justify; font-size: 1rem">{{ blogs.content }}</p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}