{% extends 'layout.html.twig' %}

{% block title %}Modifier-article{% endblock %}

{% block titlepage %} Modifier Article{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-6 offset-2 formStyle p-4 text-warning " >

        {{ form_start(form) }}

        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
