{# layout de base pour toutes les pages #}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">	
	<title>{% block title %}{% endblock%}</title>
    {% block css %}
        <!-- Boostrap.css -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <!-- FontAwesome v5.x -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
    <!-- Header -->

    <header>

        header

    </header>

    <!-- Content -->	
    <h1>{% block titlepage %}{% endblock%}</h1>
    
	<div class="container">

		{% block content %}{% endblock %}
		
	</div><br><br>

	<!-- Footer -->
    <footer class="container-fluid" style="background: grey;">
        <div class="row">
            <div class="col-6 col-md-6" style="margin-left: 40px;">
                <h3 style="color: white;"><u>Informations :</u></h3>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition<br> 
                   ise en page avant impression. Le Lorem Ipsum est le faux texte standard<br>
                   ie depuis les années 1500, quand un imprimeur anonyme assembla ensemble<br>
                      rceaux de texte pour réaliser un livre spécimen de polices de texte.<br>
                       a pas fait que survivre cinq siècles, mais s'est aussi adapté à la </p>
            </div> 
            <div class="col-5 col-md-5">
                <a href="www.facebook.com">
                    <i class="fab fa-facebook-square fa-3x" alt="logo facebook" style="margin-right: 20px; margin-left: 300px;"></i>
                </a>
                <a href="www.google.com/discover"></a>
                    <i class="fab fa-google-plus-square fa-3x" alt="logo google+" style="margin-right: 20px; margin-left: 20px;"></i>
                <a href="www.youtube.com">
                    <i class="fab fa-youtube fa-3x" alt="logo youtube" style="color: red; margin-left: 20px;"></i>
                </a>
                <p>
                    <ul style="margin-left: 250px;">                          
                            <a href="#" style="color: white;">
                                <li>  
                                    Informations
                                </li>
                            </a>
                            <a href="#" style="color: white;">
                                <li>
                                    Conditions d'utilisation
                                </li>
                            </a>
                            <a href="#" style="color: white;">
                                <li>
                                    Contact
                                </li>
                            </a>
                            <a href="#" style="color: white;">
                                <li>
                                    Adresse
                                </li>
                            </a>
                    </ul>
                </p>                
            </div>           
        </div>
    </footer>   
    
    <!-- JQuery 3.3.1 -->
    <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Bootstrap.js -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

	{% block javascript %}{% endblock %}
</body>
</html>