{% extends 'layout.html.twig' %}
{% block title %}type choice{% endblock%}

{% block titlepage %}Choix du type{% endblock%}

{% block content %}
    <a href="{{ path('addArticle', {type: 'retro'}) }}"class="btn btn-info">Retro</a>
    <a href="{{ path('addArticle', {type: 'next-gen'}) }}"class="btn btn-info">Next-gen</a>
    <a href="{{ path('addArticle', {type: 'goodies'}) }}"class="btn btn-info">Goodies</a>
    <a href="{{ path('addArticle', {type: 'arcade'}) }}"class="btn btn-info">Arcade</a>

{%  endblock %}
{% block javascript %}{% endblock %}