{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block titlepage %}<h1 class="register">S'enregistrer</h1>{% endblock %}

{% block content %}
    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}
